<section>
  <h3>Here are some key points about firebase</h3>
  <div appHighlight>
    <ul>
      <li>On a machine with a browser, install the Firebase CLI.</li>
      <li>Start the signin process by running the following command:</li>
      <li>Visit the URL provided, then log in using a Google account.</li>
      <li>
        Print a new refresh token. The current CLI session will not be affected.
      </li>
    </ul>
  </div>
  <p>
    You can install the Firebase CLI using a method that matches your operating
    system, experience level, and/or use case. Regardless of how you install the
    CLI, you have access to the same functionality and the firebase command.
  </p>
</section>
<button (click)="OnClick()">{{ action }}</button>
