<section>
  <h2>Let's learn about Standalone components!</h2>
  <p>
    You can associate multiple Firebase projects with the same project
    directory. For example, you might want to use one Firebase project for
    staging and another for production. By using different project environments,
    you can verify changes before deploying to production. The firebase use
    command allows you to switch between aliases as well as create new aliases.
  </p>
  <p>
    You can view and test your Firebase project on locally hosted URLs before
    deploying to production. If you only want to test select features, you can
    use a comma-separated list in a flag on the firebase serve command.
  </p>
</section>
<app-detail></app-detail>
